@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: map-get($estilos, fondobody);
  @include minaltura(100vh);
  position: relative;
}

header {
  nav {
    div {
      div {
        ul {
          li {
            a {
              color: map-get($colors, blanco) !important;
            }
          }
        }
      }
    }
  }
}

nav {
  ul {
    li {
      a {
        font-size: 17px;
      }
    }
  }
}

nav {
  ul {
    li {
      a {
        &:hover {
          background-color: map-get($colors, gris) !important;
        }
      }
    }
  }
}

.navbar-brand {
  color: map-get($colors, blanco) !important;
  font-size: 29px !important;
}

.navbar-brand2 {
  color: map-get($colors, blanco) !important;
  font-size: 15px !important;
  text-decoration: map-get($estilos, decoracion) !important;
  top: 15px;
  right: 95px;
  position: relative;
}

.container-main {
  background-color: map-get($colors, blanco) !important;
  @include maxancho(1730px);
  margin: 0px auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: map-get($estilos, fonfamily);
  font-size: 3rem;
  font-weight: map-get($estilos, fonbold);
}

hr {
  @include altura(1px !important);
  background-color: map-get($colors, grisoscuro);
  opacity: 1 !important;
}

span {
  color: map-get($colors, negro) !important;
}

.boton {
  border: 0;
  font-size: 1.2rem;
  font-family: map-get($estilos, fonfamily);
  background-color: map-get($colors, azul);
}

.btn-primary {
  @extend .boton;
  &:hover {
    background-color: map-get($colors, azulclaro) !important;
  }
}

.card {
  background-color: map-get($colors, blanco) !important;
  &:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-1%);
  }
}

h5 {
  color: royalblue;
}

.card-group {
  justify-content: space-between !important;
}

.centra {
  text-align: map-get($estilos, centro);
}

.formulario {
  justify-content: map-get($estilos, centro);
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  @include ancho(100%);
  margin-top: 400px;
}

main {
  padding-bottom: 11rem;
}

.footer {
  justify-content: space-evenly;
  text-align: map-get($estilos, centro);
}

.footer h5 {
  color: #e0e0e0;
}

.footer h6 {
  color: map-get($colors, blanco) !important;
}

.footer {
  a {
    &:link {
      text-decoration: map-get($estilos, decoracion);
    }
  }
}

.card-body {
  p {
    text-align: justify;
  }
}

.registro {
  cursor: pointer !important;
}

/*Style media querys*/

@media (max-width: 575px) {
}

@media (max-width: 768px) {
}

@media (max-width: 992px) {
  nav {
    ul {
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }
  .container-main {
    @include maxancho(1330px);
    margin: 0px 20px;
  }
  .btn-primary {
    font-size: 1rem;
  }
  .navbar-brand {
    font-size: 22px !important;
  }
  .navbar-brand2 {
    font-size: 10px !important;
    right: 80px;
  }
}

@media (max-width: 1200px) {
  nav {
    ul {
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }
  .container-main {
    @include maxancho(1330px);
    margin: 0px 20px;
  }

  .btn-primary {
    font-size: 1rem;
  }
}
