$font-page: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$background-body: linear-gradient(180deg, #b9b9b9 0, #fcfcfc 50%, #b9b9b9 100%);
$text-none: none;
$color-white: white;
$color-gray: #c7c7c7;
$fonbold: bold;
$spanblack: black;
$font-Junge: "Junge", serif;
$center: center;
