* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: linear-gradient(180deg, #b9b9b9 0, #fcfcfc 50%, #b9b9b9 100%);
  min-height: 100vh;
  position: relative;
}

header nav div div ul li a {
  color: white !important;
}

nav ul li a {
  font-size: 17px;
}

nav ul li a:hover {
  background-color: #c7c7c7 !important;
}

.navbar-brand {
  color: white !important;
  font-size: 29px !important;
}

.navbar-brand2 {
  color: white !important;
  font-size: 15px !important;
  text-decoration: none !important;
  top: 15px;
  right: 95px;
  position: relative;
}

.container-main {
  background-color: white !important;
  max-width: 1730px;
  margin: 0px auto;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: "Junge" serif;
  font-size: 3rem;
  font-weight: bold;
}

hr {
  height: 1px !important;
  background-color: #9e9e9e;
  opacity: 1 !important;
}

span {
  color: black !important;
}

.boton, .btn-primary {
  border: 0;
  font-size: 1.2rem;
  font-family: "Junge" serif;
  background-color: #066bad;
}

.btn-primary:hover {
  background-color: #04a7e7 !important;
}

.card {
  background-color: white !important;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-1%);
}

.card-group {
  justify-content: space-between !important;
}

.centra {
  text-align: center;
}

.formulario {
  justify-content: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  justify-content: space-evenly;
  text-align: center;
}

.footer h5 {
  color: #e0e0e0;
}

.footer h6 {
  color: white !important;
}

.footer a:link {
  text-decoration: none;
}

.card-body p {
  text-align: justify;
}

.p-3 {
  padding: 1rem !important;
}

h5 {
  color: royalblue;
}

.form-sesion {
  padding: 30px 90px;
  height: 492px;
}

.form-sesion2 {
  padding: 30px 90px;
}

/*Style media querys*/
@media (max-width: 992px) {
  nav ul li a {
    font-size: 13px;
  }
  .container-main {
    max-width: 1330px;
    margin: 0px 20px;
  }
  .btn-primary {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  nav ul li a {
    font-size: 13px;
  }
  .container-main {
    max-width: 1330px;
    margin: 0px 20px;
  }
  .btn-primary {
    font-size: 1rem;
  }
}

.registro {
  cursor: pointer !important;
}
